name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          user: vasdz
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Moscow
          filename: github-metrics.svg
          
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, vue, jupyter notebook
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_colors: "github"
          plugin_languages_details: bytes-size, percentage

          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_secrets: no
          plugin_achievements_threshold: C # Уровень сложности (C - легкий, B - средний, A - сложный)

